<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">QUẢN LÝ KHÁCH SẠN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/soDoPhong">Sơ đồ phòng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datPhong">Đặt phòng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thuePhong">Thuê phòng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thanhToan">Thanh toán</a>
                </li>
            </ul>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-info mx-2" href="/dangXuat">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>