<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">KHÁCH SẠN ABC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Giới thiệu</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Về chúng tôi</a></li>
                        <li><a class="dropdown-item" href="#">Liên hệ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tin tức</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sự kiện</a></li>
                        <li><a class="dropdown-item" href="#">Khuyến mãi</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-info mx-2" href="/dangNhap">Đăng nhập</a>
                <a class="btn btn-info" href="/yeuCauDatPhong">Đặt phòng</a>
            </div>
        </div>
    </div>
</nav>