<div class="header">
    <div class="row container">
        <div class="col-xl-12 col-lg-4 col-md-12 col-sm-12">
            <div class="brand">
                <p class="text-center" style="color: #d9d1b8;;">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </p>
                <h2 class="text-center">KHÁCH SẠN P2Q</h2>
                <hr class="solid">
            </div>
        </div>
        <div class="col-xl-9 col-lg-5 col-md-7 col-sm-2">
            <nav class="navbar navbar-expand-md navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar"
                        aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Giới thiệu</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Về chúng tôi</a></li>
                                <li><a class="dropdown-item" href="#">Liên hệ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Tin tức</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sự kiện</a></li>
                                <li><a class="dropdown-item" href="#">Khuyến mãi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-9">
            <div class="row">
                <div class="account-header dropdown col-md-6 col-sm-5">
                    <i class="fa fa-user-secret fa-2x acc-icon" aria-hidden="true"
                       data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu">
                        {% if current_user.is_authenticated %}
                        <li><p>Tên nhân viên: <br> <strong>{{current_user.hoTen}}</strong></p></li>
                        <li></li>
                        <li><p>Mã số: {{current_user.id}}</p></li>
                        <a class="btn button-header mx-2" href="/dangXuat">Đăng xuất</a>
                        {% else %}
                        <li><a class="dropdown-item" href="/dangNhap">ĐĂNG NHẬP</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="booking-header col-md-6 col-sm-5">
                    {% if current_user.is_authenticated %}
                    <a class="button-header btn" data-bs-toggle="tooltip"
                       title="Cần đăng xuất tài khoản mới có thể đặt phòng">
                        Không thể đặt phòng
                    </a>
                    {% else %}
                    <a class="button-header btn" href="/yeuCauDatPhong">Đặt phòng</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

