{% extends 'layout/emp_base.html' %}

{% block content %}
<h1>Chi tiết phiếu đặt</h1>

{% if current_user.is_authenticated %}
<p><strong>Mã nhân viên:</strong> <kbd>{{ current_user.id }}</kbd></p>
{% endif %}

{% if err_msg %}
<div class="alert alert-warning alert-dismissible  fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{err_msg}}</strong>
</div>
{% endif %}

<form method="post" enctype="multipart/form-data" action="/chiTietPhieuDat/{{phieudatphong.id}}">
    <div class="card border border-secondary shadow">
        <div style="padding: 25px;">
            <h3 class="text-center"><span>Thông tin khách hàng</span></h3>
            {% for kh in khachhang %}
            {% if phieudatphong.ma_khachhang == kh.id %}
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_name" class="form-label">Họ tên:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_name"
                           name="cus_name" value="{{kh.hoTen}}" readonly>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_type" class="form-label">Quốc tịch:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_type"
                           name="cus_nation" value="{{kh.quocTich}}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_cccd" class="form-label">CCCD/CMND:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_cccd"
                           name="cus_cccd" value="{{kh.CCCD}}" readonly>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_phone" class="form-label">Số điện thoại:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_phone"
                           name="cus_phone" value="{{kh.soDienThoai}}" readonly>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card border border-secondary shadow">
        <div style="padding: 25px;">
            <h3 class="text-center"><span>Thông tin phiếu đặt</span></h3>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_checkin" class="form-label">Ngày dự kiến nhận phòng:</label>
                    <input type="text" class="form-control form-control-lg" id="i_checkin" name="checkin"
                           value="{{phieudatphong.ngayNhan}}" readonly>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_checkout" class="form-label">Ngày dự kiến trả phòng:</label>
                    <input type="text" class="form-control form-control-lg" id="i_checkout" name="checkout"
                           value="{{phieudatphong.ngayTra}}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_book" class="form-label">Ngày thực hiện đặt phòng:</label>
                    <input type="text" class="form-control form-control-lg" id="i_book" name="book"
                           value="{{phieudatphong.ngayDat}}" readonly>
                </div>
                {% if phieudatphong.trangThai == "Đã nhận phòng" or phieudatphong.trangThai == "Đã hủy" %}
                <div class="mb-5 mt-5 col">
                    <label for="i_state" class="form-label">Trạng thái:</label>
                    <input type="text" class="form-control form-control-lg" id="i_state" name="book"
                           value="{{phieudatphong.trangThai}}" readonly>
                </div>
                {% else %}
                    {% if phieudatphong.trangThai == "Chờ nhận phòng" %}
                    <div class="mb-5 mt-5 col">
                        <label for="i_state_cancel" class="form-label">Trạng thái:</label>
                        <select class="btn search_sellect" id="i_state_cancel" name="state" required>
                            <option value="" disabled="disabled" selected="selected">Chọn trạng thái ...</option>
                            <option value="Đã hủy">Hủy</option>
                        </select>
                    </div>
                    {% else %}<!--Chờ tiếp nhận-->
                    <div class="mb-5 mt-5 col">
                        <label for="i_state_null" class="form-label">Trạng thái:</label>
                        <select class="btn search_sellect" id="i_state_null" name="state" required>
                            <option value="" disabled="disabled" selected="selected">Chọn trạng thái ...</option>
                            <option value="Chờ phản hồi">Chờ phản hồi</option>
                            <option value="Chờ nhận phòng">Chờ nhận phòng</option>
                            <option value="Đã hủy">Hủy</option>
                        </select>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row">
                {% if loaiphong %}
                <div class="mb-5 mt-5 col-5">
                    <label for="i_type_room" class="form-label">Phân loại phòng:</label>
                    {% for loaip in loaiphong %}
                    {% if loaip.id == phieudatphong.ma_loaiphong %}
                    <input type="text" class="form-control form-control-lg" id="i_type_room" name="type_room"
                           value="{{loaip.tenLoai}}" readonly>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if phieudatphong.ma_phong %} <!--Đã xếp phòng-->
                <div class="mb-5 mt-5 col-4">
                    <label for="i_room" class="form-label">Mã phòng:</label>
                    <input type="number" class="form-control form-control-lg" id="i_room" name="room"
                           value="{{phieudatphong.ma_phong}}" readonly>
                </div>
                {% else %}
                    {% if phieudatphong.trangThai == "Đã hủy" %}
                    <div class="mb-5 mt-5 col-4">
                        <label for="i_room_del" class="form-label">Mã phòng:</label>
                        <input type="text" class="form-control form-control-lg" id="i_room_del" name="room"
                               value="Đã hủy" readonly>
                    </div>
                    {% else %} <!--else: phieudatphong.trangThai == "Đã hủy"-->
                    <div class="mb-5 mt-5 col-4">
                        <label for="i_room_null" class="form-label">Mã phòng:</label>
                        <select class="form-select form-select-lg" id="i_room_null"  name="room">
                            <option value="">Xếp phòng</option>
                            {% for p in phongtrong %}
                            <option value="{{p}}">{{p}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %} <!--end: phieudatphong.trangThai == "Đã hủy"-->
                {% endif %}

            </div>
        </div>
    </div>
    <br>
    <p class="float-end">
        {% if phieudatphong.trangThai == "Đã nhận phòng" or phieudatphong.trangThai == "Đã hủy" %}
        <a class="btn btn-info" href="/datPhong">Trở về</a>
        {% else %}
        <input type="submit" value="Cập nhật" class="btn btn-primary">
        <a class="btn btn-info" href="/datPhong">Hủy</a>
        {% endif %}
    </p>
</form>

<br><br>


{% endblock %}
