{% extends 'layout/emp_base.html' %}

{% block content %}
<h1>Chi tiết phiếu đặt</h1>

{% if current_user.is_authenticated %}
<p><strong>Mã nhân viên:</strong> <kbd>{{ current_user.id }}</kbd></p>
{% endif %}

{% if err_msg %}
<div class="alert alert-danger alert-dismissible  fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{err_msg}}</strong>
</div>
{% endif %}

<form method="post" enctype="multipart/form-data" action="/chiTietPhieuDatRong/{{phong_id}}">
    <div class="card border border-secondary shadow">
        <div style="padding: 25px;">
            <h3 class="text-center"><span>Thông tin khách hàng</span></h3>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_name" class="form-label">Họ tên:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_name"
                           placeholder="Họ tên khách hàng..." name="cus_name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_type" class="form-label">Quốc tịch:</label>
                    <select class="form-select form-select-lg" id="i_cus_type" name="cus_nation" required>
                        {% include '/layout/country.html' %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_cccd" class="form-label">CCCD/CMND:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_cccd"
                           placeholder="CCCD/CMND khách hàng..." name="cus_cccd" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_cus_phone" class="form-label">Số điện thoại:</label>
                    <input type="text" class="form-control form-control-lg" id="i_cus_phone"
                           placeholder="Số điện thoại khách hàng..." name="cus_phone" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card border border-secondary shadow">
        <div style="padding: 25px;">
            <h3 class="text-center"><span>Thông tin phiếu đặt</span></h3>
            <div class="row">
                <div class="mb-5 mt-5 col">
                    <label for="i_checkin" class="form-label">Ngày dự kiến nhận phòng:</label>
                    <input type="date" class="form-control form-control-lg" id="i_checkin" name="checkin" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                </div>
                <div class="mb-5 mt-5 col">
                    <label for="i_checkout" class="form-label">Ngày dự kiến trả phòng:</label>
                    <input type="date" class="form-control form-control-lg" id="i_checkout" name="checkout"
                           required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                </div>
            </div>
            <div class="row">
                {% if loaiphong %}
                <div class="mb-5 mt-5 col-lg-6 col-md-7">
                    <label for="i_type_room" class="form-label">Phân loại phòng:</label>
                    <select class="form-select form-select-lg" id="i_type_room" name="type_room">
                        {% for loaip in loaiphong %}
                        <option value="{{ loaip[0] }}">{{ loaip[1] }}: {{'{:,.0f}'.format(loaip[2])}} VNĐ</option>
                        {% endfor %}
                    </select>

                </div>
                {% endif %}
                <div class="mb-5 mt-5 col-lg-3 col-md-5">
                    <label for="i_room" class="form-label">Mã phòng:</label>
                    <input type="number" class="form-control form-control-lg" id="i_room" name="room"
                           value="{{phong_id}}" readonly>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p class="float-end">
        <input type="submit" value="Đặt phòng" class="btn btn-primary">
        <a class="btn btn-info" href="/soDoPhong">Hủy</a>
    </p>
</form>

<br><br>

{% endblock %}
