{% extends 'layout/base.html' %}

{% block content %}
<p class="col-xl-6 col-lg-12 mx-auto d-block">
<h2 class="text-center">ĐẶT PHÒNG KHÁCH SẠN</h2>

{% if flag %}
<div class="alert alert-success alert-dismissible  fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Tạo yêu cầu thành công!</strong> Bạn có muốn quay về <a href="/" class="alert-link">Trang chủ</a>?
</div>
{% else %}
{% if err_msg %}
<div class="alert alert-danger alert-dismissible  fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{err_msg}}</strong>
</div>
{% endif %}
{% endif %}
<div class="container">
    <form method="post" enctype="multipart/form-data" action="/yeuCauDatPhong">
        <div class="card border border-secondary shadow">
            <div class="card-content">
                <h3 class="text-center">Thông tin khách hàng</h3>
                <div class="row">
                    <div class="mb-3 mt-3 col">
                        <label for="i_cus_name" class="form-label">Họ tên:</label>
                        <input type="text" class="form-control form-control-lg" id="i_cus_name"
                               placeholder="Họ tên của bạn..." name="cus_name" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                    </div>
                    <div class="mb-3 mt-3 col">
                        <label for="i_cus_type" class="form-label">Quốc tịch:</label>
                        <select class="form-select form-select-lg" id="i_cus_type" name="cus_nation" required>
                            {% include '/layout/country.html' %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 mt-3 col">
                        <label for="i_cus_cccd" class="form-label">CCCD/CMND:</label>
                        <input type="text" class="form-control form-control-lg" id="i_cus_cccd"
                               placeholder="CCCD/CMND của bạn..." name="cus_cccd" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                    </div>
                    <div class="mb-3 mt-3 col">
                        <label for="i_cus_phone" class="form-label">Số điện thoại:</label>
                        <input type="text" class="form-control form-control-lg" id="i_cus_phone"
                               placeholder="Số điện thoại của bạn..." name="cus_phone" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card border border-secondary shadow">
            <div class="card-content">
                <h3 class="text-center">Thông tin phòng</h3>
                {% if loaiphong %}
                <div class="mb-3 mt-3">
                    <label for="i_type_room" class="form-label">Phân loại phòng:</label>
                    <select class="form-select form-select-lg" id="i_type_room" name="type_room">
                        {% for loaip in loaiphong %}
                        <option value="{{loaip.id}}">{{loaip.tenLoai}}: {{"{:,.0f}".format(loaip.donGia)}} VNĐ</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="row">
                    <div class="mb-3 mt-3 col">
                        <label for="i_checkin" class="form-label">Ngày dự kiến nhận phòng:</label>
                        <input type="date" class="form-control form-control-lg" id="i_checkin" name="checkin" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                    </div>
                    <div class="mb-3 mt-3 col">
                        <label for="i_checkout" class="form-label">Ngày dự kiến trả phòng:</label>
                        <input type="date" class="form-control form-control-lg" id="i_checkout" name="checkout"
                               required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Không được bỏ trống phần này!!!</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p class="form-btn-gr">
            <input type="submit" value="Đặt phòng" class="btn form-button-sub">
            <a class="btn form-button-can" href="/">Hủy</a>
        </p>

    </form>
</div>


<br><br>
<div class="card shadow">
    <h2 class="text-center">Một số quy định khi đặt phòng khách sạn</h2>
    <ul>
        <li>
            <h3>Quy định chung:</h3>
            <ol>
                <li>Mỗi lần đặt phòng, bạn chỉ được đặt 1 phòng</li>
                <li>Thời điểm nhận phòng không được quá 28 ngày kể từ thời điểm đặt</li>
                <li>Hầu hết mỗi phòng chỉ được ở tối đa 3 khách</li>
            </ol>
        </li>
        <br>
        <li>
            <h3>Quy định phụ thu:</h3>
            <ol>
                <li>Đơn giá hiện tại dành cho 2 khách, nếu có khách thứ 3: phụ thu thêm 25%</li>
                <li>Đối với khách nước ngoài: giá phòng sẽ được nhân hệ số 1.5</li>
            </ol>
        </li>
    </ul>
</div>
{% endblock %}